body {
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.jumbotron, .jumbotron-fluid {
    background-image: url("../images/linedpaper_@2x.png")
}

.col-6, .col-4, .col-3 {
    margin: 5% auto;
    border: 2px solid darkgrey;
}

.player, .launch, .padding {
    padding: 100px;
}

